{% load static %}
<html>
<head>

	<link href ="{% static 'css/style.css' %}" rel = "stylesheet">
</head>
<body>
	<div class="row">
	<div class = "container">
		<div class = "rating-wrapper">
			<input type = "radio" name ="rating" id = "star-1" value = "1" checked><label for = "star-1"> </label>
			<input type = "radio" name ="rating" id = "star-2" value = "2" checked><label for = "star-2"> </label>
			<input type = "radio" name ="rating" id = "star-3" value = "3" checked><label for = "star-3"> </label>
			<input type = "radio" name ="rating" id = "star-4" value = "4" checked><label for = "star-4"> </label>
			<input type = "radio" name ="rating" id = "star-5" value = "5" checked><label for = "star-5"> </label>
	</div>
</div>
	</div>
</body>
</html>